<body>
    <app-navbar></app-navbar>
    
    <h1>here goes projects!</h1>
    
    <div class="project-container">
        @for (project of projects; track project.Id) {
            <div class="item-container">
                <img src={{project.ImageUrl}}>
                <h3>{{project.ProjectName}}</h3>
                <p>{{project.ProjectDescription}}</p>
                <div class="link-container">
                    <a href={{project.ProjectUrl}}>Ir al repositorio</a>
                </div>
            </div>
        }
    </div>
</body>