<body>
    <app-navbar></app-navbar>

    <div class="container">
        <div class="data-container">
            <img src="https://i.pinimg.com/originals/e6/f7/33/e6f733eedd4aa92d12ed173cd08c5f7a.jpg">
            <h3>me!</h3>
            <a href="https://github.com/mauritalkie">Github</a>
        </div>

        <div class="description-container">
            <div><select name="" id=""></select></div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga illo necessitatibus aut ipsa nobis nisi voluptates rem aperiam soluta, culpa suscipit asperiores deserunt, expedita commodi quidem odio earum dolore optio!</p>
        </div>
    </div>
</body>