<body>
    <app-navbar></app-navbar>

    <div class="container">
        <div class="data-container">
            <img src="https://i.pinimg.com/originals/e6/f7/33/e6f733eedd4aa92d12ed173cd08c5f7a.jpg">
            <h3>me!</h3>
            <a href="https://github.com/mauritalkie">Github</a>
        </div>

        <div class="description-container">
            <div>
                <select [(ngModel)]="selectedOption" (change)="onOptionChange()">
                    <option *ngFor="let option of options" [value]="option.value"> {{ option.text }}</option>
                </select>
            </div>
            <p>{{ selectedOption }}</p>
        </div>
    </div>
</body>