<body>
    <app-navbar></app-navbar>

    <div class="container">
        <div class="login-container">
            <img [src]="currentImage" (click)="onImageClick()">
            <input type="file" #fileInput (change)="onSelectFile($event)" style="display: none;">

            <div class="field-container">
                <p>Username</p>
                <input type="text" [(ngModel)]="currentUsername">
            </div>

            <label>
                <input type="checkbox" [(ngModel)]="isChecked" (change)="emptyPasswordFields()"/>Cambiar contraseña
            </label>
            
            <div class="field-container">
                <p>Password</p>
                <input type="password" class="password-field" [(ngModel)]="newPassword" [disabled]="!isChecked">
            </div>

            <div class="field-container">
                <p>Confirm password</p>
                <input type="password" class="password-field" [(ngModel)]="confirmPassword" [disabled]="!isChecked">
            </div>
            
            <button>Save</button>
        </div>    
    </div>
</body>
