body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    background-color: #6A5ACD;
    font-size: 27px;
    padding-bottom: 5px;
}

input {
    background-color: #FFF;
    border: solid 2px #000;
    font-size: 27px;
}

button {
    background-color: #4682B4;
    width: 200px;
    height: 40px;
    color: #FFF;
    font-size: 27px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
}

.login-container {
    height: 75%;
    width: 30%;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    background-color: #6A5ACD;
    row-gap: 20px;
}