<body>
    <nav>
        <a href="/home">Home</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/about_me">About me</a>
    </nav>
    
    <div class="feature">
        <h1>Here goes header!</h1>
        <img src="https://i.pinimg.com/originals/e6/f7/33/e6f733eedd4aa92d12ed173cd08c5f7a.jpg">
    </div>
    
    <div class="feature">
        <h1>Here goes header!</h1>
        <img src="https://i.pinimg.com/originals/0c/68/72/0c6872b1d634c1ed733a594af4508a5a.jpg">
    </div>
    
    <div class="feature">
        <h1>Here goes header!</h1>
        <img src="https://i.pinimg.com/564x/8c/06/61/8c06617b7f297edae1f1804df6223184.jpg">
    </div>
    
    <div class="feature">
        <h1>Here goes header!</h1>
        <img src="https://i.pinimg.com/564x/7c/8a/36/7c8a36f2a9eb2ab8d2ed8e52cc02cc11.jpg">
    </div>
</body>