body {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

img {
    width: 1150px;
    height: 350px;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    row-gap: 10px;
}