<body>
    <app-navbar></app-navbar>

    <div>
        <a href="google.com.mx">Google</a>
        <button>Edit</button>
        <button>Delete</button>
    </div>

    <div>
        <a href="google.com.mx">Google</a>
        <button>Edit</button>
        <button>Delete</button>
    </div>

    <div>
        <a href="google.com.mx">Google</a>
        <button>Edit</button>
        <button>Delete</button>
    </div>

    <div>
        <a href="google.com.mx">Google</a>
        <button>Edit</button>
        <button>Delete</button>
    </div>

    <div>
        <a href="google.com.mx">Google</a>
        <button>Edit</button>
        <button>Delete</button>
    </div>

    <button>Add New</button>
</body>